<% include ./layout/header.ejs %>

    <body class="img js-fullheight" style="background-image: url(images/bg.jpg);">
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Đăng nhập TMusic</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="login-wrap p-0">
                            <h3 class="mb-4 text-center">Chào Trang ^^</h3>
                            <form action="#" class="signin-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tài khoản" id="username"
                                        required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" placeholder="Mật khẩu"
                                        required>
                                    <span toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <div class="">
                                    <label class="checkbox-wrap checkbox-primary">Ghi nhớ đăng nhập
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3"
                                        id="login">Đăng
                                        nhập</button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-md-left">
                                        <a href="/forgot-pasword" style="color: #fff">Quên mật khẩu</a>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="/register" style="color: #fff">Đăng kí tài khoản</a>
                                    </div>
                                </div>
                            </form>
                            <p class="w-100 text-center">&mdash; Hoặc đăng nhập &mdash;</p>
                            <div class="social d-flex text-center">
                                <a href="#" class="px-2 py-2 mr-md-1 rounded"><span
                                        class="ion-logo-facebook mr-2"></span>
                                    Facebook</a>
                                <a href="#" class="px-2 py-2 ml-md-1 rounded"><span
                                        class="ion-logo-twitter mr-2"></span>
                                    Twitter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script>
        window.onload = function () {
            if (window.localStorage.token != null) {
                window.location.href = "/";
            }
            $("#login").click(function (btn) {
                btn.preventDefault();
                $("#load").show();
                let username = $("#username").val();
                let password = $("#password").val();
                $.post({
                    url: "/api/v1/auth/login",
                    data: JSON.stringify({
                        username: username,
                        password: password
                    }),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (data) {
                    localStorage.token = data.data.token;
                    localStorage.username = data.data.username;
                    localStorage.role = data.data.role;
                    localStorage.status = data.data.status;
                    Toast.fire({
                        icon: 'success',
                        title: "Đăng nhập thành công."
                    }).then(function () {
                        window.location.href = "/";
                    });
                    $("#load").hide();
                }).fail(function (err) {
                    Toast.fire({
                        icon: 'error',
                        title: err.responseJSON.message
                    });
                    $("#load").hide();
                });
            });
        };
    </script>
    <% include ./layout/footer.ejs %>