<%-include ("./layout/header.ejs") %>

    <body class="img js-fullheight" style="background-image: url(images/bg.jpg);">
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Đăng kí TMusic</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="login-wrap p-0">
                            <h3 class="mb-4 text-center">Trang chưa có tài khoản?</h3>
                            <form action="#" class="signin-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tài khoản" id="username"
                                        required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" placeholder="Mật khẩu"
                                        required>
                                    <span toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="re-password"
                                        placeholder="Nhập lại mật khẩu" required>
                                    <span toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <div class="">
                                    <label class="checkbox-wrap checkbox-primary">Đồng ý điều khoản của chúng tôi
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3"
                                        id="register">Đăng kí</button>
                                </div>
                                <div class="text-end text-md-right">
                                    <a href="/login" style="color: #fff">Đăng nhập</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script>
        window.onload = function () {
            if (window.localStorage.token != null) {
                window.location.href = "/";
            }
            $("#register").click(function (btn) {
                btn.preventDefault();
                let username = $("#username").val();
                let password = $("#password").val();
                let rePassword = $("#re-password").val();
                if (username == "")
                    return Toast.fire({
                        icon: 'warning',
                        title: "Tài khoản không được để trống!"
                    });
                if (password == "")
                    return Toast.fire({
                        icon: 'warning',
                        title: "Mật khẩu không được để trống!"
                    });
                if (password != rePassword)
                    return Toast.fire({
                        icon: 'warning',
                        title: "Mật khẩu không được để trống!"
                    });
                $("#load").show();
                $.post({
                    url: "/api/v1/auth/register",
                    data: JSON.stringify({
                        username: username,
                        password: password
                    }),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (data) {
                    Toast.fire({
                        icon: 'success',
                        title: "Đăng kí thành công."
                    }).then(function () {
                        window.location.href = "/login";
                    });
                    $("#load").hide();
                }).fail(function (err) {
                    Toast.fire({
                        icon: 'error',
                        title: err.responseJSON.message
                    });
                    $("#load").hide();
                });
            });
        };
    </script>
    <%-include ("./layout/footer.ejs") %>